[Unit]
Description=Raspberry 3.5inch Dash
After=network-online.target
 
[Service]
ExecStart=/usr/bin/python3 /home/pi/zerodash/start.py
WorkingDirectory=/home/pi/zerodash/
Environment=DISPLAY=:0
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target